#blue-state-ask {
  align-items: center;
  background: #303bb3;
  background: linear-gradient(to top, #303bb3 0%, #009bde 100%);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  padding: 20px;
  -webkit-font-smoothing: antialiased;
}

[id*=google_ad]{
  display: none!important;
}